In [1]:
import requests
import json
import re
import numpy as np
import pandas as pd

In [2]:
def get_year(year):
    meet = requests.get(year).text
    meet = meet.split("Event ")
    return meet

sex = "Men "
course = "Yard "

yr2007 = get_year("http://meetresults.com/2007/eisl/results.html")
yr2008 = get_year("http://meetresults.com/2008/eisl/results.html")
yr2009 = get_year("http://meetresults.com/2011/ivies/results.html")
yr2010 = get_year("http://www.pennathletics.com//pdf8/731145.pdf")
yr2011 = get_year("http://meetresults.com/2011/ivies/results.html")
yr2012 = get_year("http://www.goprincetontigers.com/ViewArticle.dbml?DB_OEM_ID=10600&ATCLID=205391399")
yr2013 = get_year("http://www.ivyleaguesports.com/championships/mswimdive/2012-13/2013_Ivy_Complete_Meet.htm")
yr2014 = get_year("http://www.ivyleaguesports.com/championships/mswimdive/2013-14/results-splits.html")
yr2015 = get_year("http://www.ivyleaguesports.com/championships/mswimdive/2014-15/results-final.htm")
# yr2016 = get_year("")

In [121]:
def separate_events(year):
    new_list = []
    for event in year:
        if "Time Trial" not in event:
            if "Relay" not in event:
                if "Swim-off" not in event:
                    if "Final" in event:
                        new_list.append(event)
    return new_list

events = separate_events(yr2007)
print(type(events))
print(len(events))
for event in events:
    print(event.split("\n")[0])
    
print(events[2])

<class 'list'>
16
2  Men 500 Yard Freestyle</b>
3  Men 200 Yard IM</b>
4  Men 50 Yard Freestyle</b>
5  Men 1 mtr Diving</b>
8  Men 1000 Yard Freestyle</b>
9  Men 400 Yard IM</b>
10  Men 100 Yard Butterfly</b>
11  Men 200 Yard Freestyle</b>
12  Men 100 Yard Breaststroke</b>
13  Men 100 Yard Backstroke</b>
15  Men 1650 Yard Freestyle</b>
16  Men 200 Yard Backstroke</b>
17  Men 100 Yard Freestyle</b>
18  Men 200 Yard Breaststroke</b>
19  Men 200 Yard Butterfly</b>
20  Men 3 mtr Diving</b>
4  Men 50 Yard Freestyle</b>
===============================================================================
 Meet Record: M 19.53        2003 Jesse Gage (Princeton)
 EISL Record: E 19.53        2003 Jesse Gage (Princeton)
 Pool Record: P 19.68        2006 Barry Murphy (Tennessee)
      NCAA A: A 19.60
      NCAA B: B 20.18
     USA Nat: N 20.69
    Name                    Year School               Prelims     Finals Points
===============================================================================
<b>A - Final</b>
  1 Righi, Alex               SO Yale                   20.22      19.68P  32
  2 Quinn, Pat                JR Harvard                20.39      20.43N  28
  3 Kelly, Brian              JR Brown                  20.48      20.48N  27
  4 Guernsey, David           SO Harvard                20.61      20.49N  25.5
  4 White, Tobin              SR Columbia               20.61      20.49N  25.5
  6 Gorter, Brad              JR Cornell                20.55      20.75   24
  7 Carr, Devon               JR Pennsylvania           20.68      20.77   23
  8 Carter, Mike              SO Princeton              20.65      20.80   22
<b>B - Final</b>
  9 Baity, Phil               SO Cornell                20.75      20.72   20
 10 Laren, Colin              FR Cornell                20.75      20.83   17
 11 Gallagher, Pat            JR Pennsylvania           20.82      20.85   16
 12 Carey, Kevin              SO Cornell                20.92      20.93   15
 13 Unruh, Joseph             SO Navy                   21.00      21.03   14
 14 Oldenkamp, Alex           SO Navy                   20.97      21.05   13
 15 Mihalko, Preston          SO Navy                   20.91      21.14   12
 16 Pool, Chris               SO Yale                   20.92      21.23   11
<b>C - Final</b>
 17 Baity, Mike               JR Princeton              21.06      20.81    9
 18 Dragelin, John            SO Columbia               21.13      21.03    7
 19 Ko, Steven                SO Columbia               21.14      21.10    6
 20 Hug, Kevin                JR Brown                  21.15      21.18    5
 21 Wetmore, Tucker           FR Brown                  21.19      21.19    4
 22 Hays, Paris               FR Brown                  21.16      21.28    3
 23 Huxley, Trent             FR Brown                  21.16      21.42    2
 24 Jones, Bill               SO Harvard                21.09      21.51    1

<b>

In [66]:
def get_event_name_num(event):
    if "Diving" not in event:
        try:
            event_num = int(event[:2])
        except ValueError:
            event_num = "NaN"
        dist = int(event.split(sex)[1].split(" ")[0])
        stroke = event.split(course)[1].split("<")[0]
        if (type(event_num) == int) and event_num < 25:
            return event_num, dist, stroke
    else:
        try:
            event_num = int(event[:2])
        except ValueError:
            event_num = "NaN"
        dist = int(event.split(sex)[1].split(" ")[0])
        stroke = "Diving"
        if (type(event_num) == int) and event_num < 25:
            return event_num, dist, stroke

        
for event in events:
    print(get_event_name_num(event))

(2, 500, 'Freestyle')
(3, 200, 'IM')
(4, 50, 'Freestyle')
(5, 1, 'Diving')
(8, 1000, 'Freestyle')
(9, 400, 'IM')
(10, 100, 'Butterfly')
(11, 200, 'Freestyle')
(12, 100, 'Breaststroke')
(13, 100, 'Backstroke')
(15, 1650, 'Freestyle')
(16, 200, 'Backstroke')
(17, 100, 'Freestyle')
(18, 200, 'Breaststroke')
(19, 200, 'Butterfly')
(20, 3, 'Diving')

In [94]:
def split_event_by_line(string):
    if "Points" in string:
        string = string.split("Points")[1]
        list_of_strings = string.split("\n")
        return list_of_strings


lol = split_event_by_line(events[4])
print(type(lol))
print(len(lol))
print(lol[3])
print("")
lol

<class 'list'>
31
  2 Griest, Robert            SO Princeton                      9:06.64N  28

[' \r',
 '===============================================================================\r',
 '  1 Wollner, Samuel           JR Harvard                        9:06.36N  32  \r',
 '  2 Griest, Robert            SO Princeton                      9:06.64N  28  \r',
 '  3 Ashley, Dave              SR Princeton                      9:08.61N  27  \r',
 '  4 Lynch, Eric               SO Harvard                        9:10.18N  26  \r',
 '  5 Fog, Henning              JR Columbia                       9:12.40N  25  \r',
 '  6 Volosin, Peter            JR Brown                          9:15.52N  24  \r',
 '  7 Meyer, Alex               FR Harvard                        9:17.08N  23  \r',
 '  8 Brunnick, Mason           FR Harvard                        9:17.20N  22  \r',
 '  9 Buncher, Stan             JR Princeton                      9:19.88N  20  \r',
 ' 10 Ellis, Kevin              SO Dartmouth                      9:21.07N  17  \r',
 ' 11 Abbott, Jake              SR Columbia                       9:21.48N  15.5\r',
 ' 11 Fee, James                FR Pennsylvania                   9:21.48N  15.5\r',
 ' 13 Reeb, Cody                FR Navy                           9:26.39   14  \r',
 ' 14 Gray, Thomas              FR Harvard                        9:27.76   13  \r',
 ' 15 Cochran, Nick             SO Cornell                        9:28.07   12  \r',
 ' 16 Garber, Kent              SR Yale                           9:29.79   11  \r',
 ' 17 Hutchinson, Jack          SR Yale                           9:31.13    9  \r',
 ' 18 McGrath, Jason            SR Pennsylvania                   9:31.44    7  \r',
 ' 19 Cousins, Sebastian        SO Yale                           9:33.27    6  \r',
 ' 20 Diehl, Porter             SO Dartmouth                      9:37.65    5  \r',
 ' 21 Braunreuther, Joe         JR Dartmouth                      9:38.12    4  \r',
 ' 22 Guthmann, David           SO Navy                           9:38.21    3  \r',
 ' 23 Thompson, Brandon         SR Pennsylvania                   9:45.52    2  \r',
 ' 24 Curran, Jack              FR Navy                           9:48.58    1  \r',
 ' 25 Glenn, Rob                JR Brown                          9:48.99  \r',
 ' 26 Andres, Josh              JR Navy                           9:52.63  \r',
 ' 27 Stathopoulos, Cary        FR Dartmouth                      9:55.40  \r',
 ' \r',
 '<b>']

In [129]:
line = " 12 O'Mara, Michael           SR Brown                1:52.89    1:52.63   15  \r"
print(type(line))

def extract_rank_from_line(line):
    try:
        return int(line[:4])
    except ValueError:
        return 0

def extract_name_from_line(line):
    comma = re.search(r'\,', line).start()
    last_name = line[comma::-1].split(" ")[0][::-1]
    first_name = line[comma+2:].split(" ")[0]
    name = last_name + " " + first_name
    return name

def extract_year_from_line(line):
    years = [" FR ", " SO ", " JR ", " SR "]
    for year in years:
        if year in line:
            return year.replace(" ", "")

def extract_school_from_line(line):
    years = [" FR ", " SO ", " JR ", " SR "]
    for year in years:
        if year in line:
            school = line.split(year)[1]
            school = school.split(" ")[0]
            return school

def extract_prelim_from_line(line):
    ix = re.search(r'\d', line[6:]).start()
    return line[ix+6:].split(" ")[0]

def extract_final_from_line(line):
    ix = re.search(r'\d', line[6:]).start()
    prelims = line[ix+6:]
    spaceix = re.search(r'\ ', prelims).start()
    finals = line[spaceix:]
    finalix = re.search(r'\d', finals).start()
    final = finals[finalix:].split(" ")[0]
    return final

def extract_points_from_line(line):
    end_line = float(line[-5:])
    return end_line


def extract_data_from_line(line):
    rank = extract_rank_from_line(line)
    if rank:
        name = extract_name_from_line(line)
        year = extract_year_from_line(line)
        school = extract_school_from_line(line)
        prelim = extract_prelim_from_line(line)
        final = extract_final_from_line(line)
        points = extract_points_from_line(line)
        return [rank, name, year, school, prelim, final, points]

def extract_all_data_from_event(event):
    list_of_lines = split_event_by_line(event)
    nlist = []
    for line in list_of_lines:
        if line:
            d = extract_data_from_line(line)
            if d:
                nlist.append(d)
    return nlist

extracted_event = extract_all_data_from_event(events[2])
extracted_event

<class 'str'>

[[1, 'Righi, Alex', 'SO', 'Yale', '20.22', '20.22', 32.0],
 [2, 'Quinn, Pat', 'JR', 'Harvard', '20.39', '20.39', 28.0],
 [3, 'Kelly, Brian', 'JR', 'Brown', '20.48', '20.48', 27.0],
 [4, 'Guernsey, David', 'SO', 'Harvard', '20.61', '20.61', 25.5],
 [4, 'White, Tobin', 'SR', 'Columbia', '20.61', '20.61', 25.5],
 [6, 'Gorter, Brad', 'JR', 'Cornell', '20.55', '20.55', 24.0],
 [7, 'Carr, Devon', 'JR', 'Pennsylvania', '20.68', '20.68', 23.0],
 [8, 'Carter, Mike', 'SO', 'Princeton', '20.65', '20.65', 22.0],
 [9, 'Baity, Phil', 'SO', 'Cornell', '20.75', '20.75', 20.0],
 [10, 'Laren, Colin', 'FR', 'Cornell', '20.75', '20.75', 17.0],
 [11, 'Gallagher, Pat', 'JR', 'Pennsylvania', '20.82', '20.82', 16.0],
 [12, 'Carey, Kevin', 'SO', 'Cornell', '20.92', '20.92', 15.0],
 [13, 'Unruh, Joseph', 'SO', 'Navy', '21.00', '21.00', 14.0],
 [14, 'Oldenkamp, Alex', 'SO', 'Navy', '20.97', '20.97', 13.0],
 [15, 'Mihalko, Preston', 'SO', 'Navy', '20.91', '20.91', 12.0],
 [16, 'Pool, Chris', 'SO', 'Yale', '20.92', '20.92', 11.0],
 [17, 'Baity, Mike', 'JR', 'Princeton', '21.06', '21.06', 9.0],
 [18, 'Dragelin, John', 'SO', 'Columbia', '21.13', '21.13', 7.0],
 [19, 'Ko, Steven', 'SO', 'Columbia', '21.14', '21.14', 6.0],
 [20, 'Hug, Kevin', 'JR', 'Brown', '21.15', '21.15', 5.0],
 [21, 'Wetmore, Tucker', 'FR', 'Brown', '21.19', '21.19', 4.0],
 [22, 'Hays, Paris', 'FR', 'Brown', '21.16', '21.16', 3.0],
 [23, 'Huxley, Trent', 'FR', 'Brown', '21.16', '21.16', 2.0],
 [24, 'Jones, Bill', 'SO', 'Harvard', '21.09', '21.09', 1.0]]

In [133]:
def pandize_meet(year):
    meet_results = pd.DataFrame(columns = ["Ev#", "Distance", "Stroke", "Rank", "Name", "Yr", "School", "Prelim", "Final", "Points"])

    events_list = separate_events(year)    
    for event in events_list:
        event_name_num = get_event_name_num(event)
        event_data = extract_all_data_from_event(event)
        pandized_event = pd.DataFrame(event_data)
        pandized_event.columns = ["Rank", "Name", "Yr", "School", "Prelim", "Final", "Points"]
        pandized_event["Ev#"] = event_name_num[0]
        pandized_event["Distance"] = event_name_num[1]
        pandized_event["Stroke"] = event_name_num[2]
        meet_results = meet_results.append(pandized_event)
    return meet_results

pandize_meet(yr2007).info

<bound method DataFrame.info of     Distance  Ev#    Final                Name  Points   Prelim  Rank  \
0        500    2  4:25.94          Smit, Mike    30.0  4:25.94     1
1        500    2  4:26.28         Newman, Wes    30.0  4:26.28     1
2        500    2  4:26.38     Wollner, Samuel    27.0  4:26.38     3
3        500    2  4:26.51         Lynch, Eric    26.0  4:26.51     4
4        500    2  4:26.12           Lee, Hyun    25.0  4:26.12     5
5        500    2  4:28.10      Griest, Robert    24.0  4:28.10     6
6        500    2  4:27.78        Foss, Andrew    23.0  4:27.78     7
7        500    2  4:28.28        Ashley, Dave    22.0  4:28.28     8
8        500    2  4:29.86     Brunnick, Mason    20.0  4:29.86     9
9        500    2  4:29.18        Ellis, Kevin    17.0  4:29.18    10
10       500    2  4:30.10         Meyer, Alex    16.0  4:30.10    11
11       500    2  4:29.98          Eckel, Dan    15.0  4:29.98    12
12       500    2  4:31.08      Volosin, Peter    14.0  4:31.08    13
13       500    2  4:30.64       Buncher, Stan    13.0  4:30.64    14
14       500    2  4:31.59     Flemming, Danny    12.0  4:31.59    15
15       500    2  4:32.04        Abbott, Jake    11.0  4:32.04    16
16       500    2  4:32.17        Mukri, Kevin     9.0  4:32.17    17
17       500    2  4:32.63   McCloskey, Dennen     7.0  4:32.63    18
18       500    2  4:32.28    Wakefield, Kevin     6.0  4:32.28    19
19       500    2  4:32.12        Gray, Thomas     5.0  4:32.12    20
20       500    2  4:33.32  Cousins, Sebastian     4.0  4:33.32    21
21       500    2  4:34.46      McGrath, Jason     3.0  4:34.46    22
22       500    2  4:32.05        Fog, Henning     2.0  4:32.05    23
23       500    2  4:34.53     Guthmann, David     1.0  4:34.53    24
0        200    3  1:48.88    Rathgeber, Geoff    32.0  1:48.88     1
1        200    3  1:49.26      Schaffer, Will    28.0  1:49.26     2
2        200    3  1:49.66       Hasbani, Meir    27.0  1:49.66     3
3        200    3  1:51.25           Ruse, Tim    26.0  1:51.25     4
4        200    3  1:51.44         Meyer, Adam    24.5  1:51.44     5
5        200    3  1:50.85   Fitzpatrick, Luke    24.5  1:50.85     5
..       ...  ...      ...                 ...     ...      ...   ...
10       200   19  1:50.73  Alexander, Richard    16.0  1:50.73    11
11       200   19  1:49.20         Pool, Chris    15.0  1:49.20    12
12       200   19  1:49.43       Scheid, Tyler    14.0  1:49.43    13
13       200   19  1:51.63       Griffith, Joe    13.0  1:51.63    14
14       200   19  1:51.18       Goettke, Rich    12.0  1:51.18    15
15       200   19  1:50.58         Carr, Devon    11.0  1:50.58    16
16       200   19  1:51.86         Wiese, Jack     9.0  1:51.86    17
17       200   19  1:52.80       Cochran, Nick     7.0  1:52.80    18
18       200   19  1:54.07        Barron, Nick     6.0  1:54.07    19
19       200   19  1:53.12            Gan, Ben     5.0  1:53.12    20
20       200   19  1:54.64      Lascara, James     4.0  1:54.64    21
21       200   19  1:53.70         Ramos, Mike     3.0  1:53.70    22
22       200   19  1:53.96      Dierberg, Ryan     2.0  1:53.96    23
23       200   19  1:52.86      Collier, David     1.0  1:52.86    24
0          3   20   345.25  Lichtenstein, Jeff    32.0   345.25     1
1          3   20   330.50    Papageorge, Mike    28.0   330.50     2
2          3   20   328.85     Malcolm, Stuart    27.0   328.85     3
3          3   20   304.20       Teague, Kevin    26.0   304.20     4
4          3   20   298.50     Reardon, Justin    25.0   298.50     5
5          3   20   317.30       Sanders, Luke    24.0   317.30     6
6          3   20   293.90         Scott, Doug    23.0   293.90     7
7          3   20   341.00       Berry, Andrew    22.0   341.00     8
8          3   20   266.10          Baer, Luke    20.0   266.10     9
9          3   20   291.25      Donohoe, Chris    17.0   291.25    10
10         3   20   276.00     Razook, Charlie    16.0   276.00    11
11         3   20   277.35      Dickerson, Dan    15.0   277.35    12
12         3   20   267.75         Hayden, Pat    14.0   267.75    13
13         3   20   263.30       Robinson, Kai    13.0   263.30    14
14         3   20   277.20       Niekras, Adam    12.0   277.20    15
15         3   20   262.00           Kambe, CJ    11.0   262.00    16

          School     Stroke  Yr
0        Cornell  Freestyle  SR
1        Cornell  Freestyle  SO
2        Harvard  Freestyle  JR
3        Harvard  Freestyle  SO
4       Columbia  Freestyle  SO
5      Princeton  Freestyle  SO
6           Yale  Freestyle  SR
7      Princeton  Freestyle  SR
8        Harvard  Freestyle  FR
9      Dartmouth  Freestyle  SO
10       Harvard  Freestyle  FR
11     Princeton  Freestyle  SO
12         Brown  Freestyle  JR
13     Princeton  Freestyle  JR
14          Navy  Freestyle  SR
15      Columbia  Freestyle  SR
16          Navy  Freestyle  SR
17          Yale  Freestyle  SO
18      Columbia  Freestyle  SO
19       Harvard  Freestyle  FR
20          Yale  Freestyle  SO
21  Pennsylvania  Freestyle  SR
22      Columbia  Freestyle  JR
23          Navy  Freestyle  SO
0        Harvard         IM  JR
1      Princeton         IM  SO
2      Princeton         IM  SR
3      Princeton         IM  SR
4           Navy         IM  FR
5       Columbia         IM  SR
..           ...        ...  ..
10         Brown  Butterfly  SO
11          Yale  Butterfly  SO
12          Yale  Butterfly  SO
13  Pennsylvania  Butterfly  SR
14       Harvard  Butterfly  SR
15  Pennsylvania  Butterfly  JR
16  Pennsylvania  Butterfly  FR
17       Cornell  Butterfly  SO
18      Columbia  Butterfly  FR
19  Pennsylvania  Butterfly  SO
20          Navy  Butterfly  FR
21       Cornell  Butterfly  SO
22  Pennsylvania  Butterfly  FR
23      Columbia  Butterfly  SO
0           Yale     Diving  JR
1      Princeton     Diving  FR
2      Princeton     Diving  JR
3           Navy     Diving  SR
4       Columbia     Diving  JR
5        Harvard     Diving  JR
6           Yale     Diving  JR
7      Dartmouth     Diving  JR
8        Cornell     Diving  SR
9        Cornell     Diving  SO
10     Princeton     Diving  SO
11     Princeton     Diving  FR
12          Yale     Diving  JR
13         Brown     Diving  SO
14          Navy     Diving  JR
15         Brown     Diving  FR

[372 rows x 10 columns]>