In [1]:
import requests
import json
import re
import numpy as np
import pandas as pd

In [29]:
def get_year(year):
    meet = requests.get(year).text
    meet = meet.split("Event ")
    return meet

sex = "Men "
course = "Yard "

yr2007 = get_year("http://meetresults.com/2007/eisl/results.html")
yr2008 = get_year("http://meetresults.com/2008/eisl/results.html")
with open('yr2009.rtf', 'r') as myfile:
    yr2009 = myfile.read()
    yr2009 = yr2009.split("Event ")
yr2010 = get_year("http://www.pennathletics.com//pdf8/731145.pdf")
yr2011 = get_year("http://meetresults.com/2011/ivies/results.html")
yr2012 = get_year("http://www.goprincetontigers.com/ViewArticle.dbml?DB_OEM_ID=10600&ATCLID=205391399")
yr2013 = get_year("http://www.ivyleaguesports.com/championships/mswimdive/2012-13/2013_Ivy_Complete_Meet.htm")
yr2014 = get_year("http://www.ivyleaguesports.com/championships/mswimdive/2013-14/results-splits.html")
yr2015 = get_year("http://www.ivyleaguesports.com/championships/mswimdive/2014-15/results-final.htm")
# yr2016 = get_year("")

In [27]:
def separate_events(year):
    new_list = []
    for event in year:
        if "Time Trial" not in event:
            if "Relay" not in event:
                if "Swim-off" not in event:
                    if "Points" in event:
                        event = event.replace("\\", "")
                        new_list.append(event)
    return new_list

events = separate_events(yr2007)
print(type(events))
print(len(events))
for event in events:
    print(event.split("\n")[0])
    
print(events[6][:200])

<class 'list'>
16
2  Men 500 Yard Freestyle</b>
3  Men 200 Yard IM</b>
4  Men 50 Yard Freestyle</b>
5  Men 1 mtr Diving</b>
8  Men 1000 Yard Freestyle</b>
9  Men 400 Yard IM</b>
10  Men 100 Yard Butterfly</b>
11  Men 200 Yard Freestyle</b>
12  Men 100 Yard Breaststroke</b>
13  Men 100 Yard Backstroke</b>
15  Men 1650 Yard Freestyle</b>
16  Men 200 Yard Backstroke</b>
17  Men 100 Yard Freestyle</b>
18  Men 200 Yard Breaststroke</b>
19  Men 200 Yard Butterfly</b>
20  Men 3 mtr Diving</b>
10  Men 100 Yard Butterfly</b>
===============================================================================
 Meet Record: M 47.10        2003 Jesse Gage (Princeton)
 EISL

In [4]:
def split_event_by_line(string):
    if "Points" in string:
        string = string.split("Points")[1]
        string = string.replace("\r","")
        if "Bradley\n" in string:
            string = string.replace("Bradley\n", "Bradley")
        list_of_strings = string.split("\n")
        return list_of_strings


lol = split_event_by_line(events[4])
print(type(lol))
print(len(lol))
print(lol[3])
print("")
lol

<class 'list'>
31
  2 Griest, Robert            SO Princeton                      9:06.64N  28

[' ',
 '===============================================================================',
 '  1 Wollner, Samuel           JR Harvard                        9:06.36N  32  ',
 '  2 Griest, Robert            SO Princeton                      9:06.64N  28  ',
 '  3 Ashley, Dave              SR Princeton                      9:08.61N  27  ',
 '  4 Lynch, Eric               SO Harvard                        9:10.18N  26  ',
 '  5 Fog, Henning              JR Columbia                       9:12.40N  25  ',
 '  6 Volosin, Peter            JR Brown                          9:15.52N  24  ',
 '  7 Meyer, Alex               FR Harvard                        9:17.08N  23  ',
 '  8 Brunnick, Mason           FR Harvard                        9:17.20N  22  ',
 '  9 Buncher, Stan             JR Princeton                      9:19.88N  20  ',
 ' 10 Ellis, Kevin              SO Dartmouth                      9:21.07N  17  ',
 ' 11 Abbott, Jake              SR Columbia                       9:21.48N  15.5',
 ' 11 Fee, James                FR Pennsylvania                   9:21.48N  15.5',
 ' 13 Reeb, Cody                FR Navy                           9:26.39   14  ',
 ' 14 Gray, Thomas              FR Harvard                        9:27.76   13  ',
 ' 15 Cochran, Nick             SO Cornell                        9:28.07   12  ',
 ' 16 Garber, Kent              SR Yale                           9:29.79   11  ',
 ' 17 Hutchinson, Jack          SR Yale                           9:31.13    9  ',
 ' 18 McGrath, Jason            SR Pennsylvania                   9:31.44    7  ',
 ' 19 Cousins, Sebastian        SO Yale                           9:33.27    6  ',
 ' 20 Diehl, Porter             SO Dartmouth                      9:37.65    5  ',
 ' 21 Braunreuther, Joe         JR Dartmouth                      9:38.12    4  ',
 ' 22 Guthmann, David           SO Navy                           9:38.21    3  ',
 ' 23 Thompson, Brandon         SR Pennsylvania                   9:45.52    2  ',
 ' 24 Curran, Jack              FR Navy                           9:48.58    1  ',
 ' 25 Glenn, Rob                JR Brown                          9:48.99  ',
 ' 26 Andres, Josh              JR Navy                           9:52.63  ',
 ' 27 Stathopoulos, Cary        FR Dartmouth                      9:55.40  ',
 ' ',
 '<b>']

In [5]:
line = " 12 O'Mara, Michael           SR Brown                1:52.89    1:52.63   15  \r"
print(type(line))

def extract_rank_from_line(line):
    try:
        return int(line[:4])
    except ValueError:
        return 0

def extract_name_from_line(line):
    comma = re.search(r'\,', line).start()
    last_name = line[comma::-1].split(" ")[0][::-1]
    first_name = line[comma+2:].split(" ")[0]
    name = last_name + " " + first_name
    return name

def extract_year_from_line(line):
    years = [" FR ", " SO ", " JR ", " SR "]
    for year in years:
        if year in line:
            return year.replace(" ", "")
        if not any(yr in line for yr in years):
            ix = re.search(r'\d', line[6:]).start()
            return line[ix+6:ix+8]

def extract_school_from_line(line):
    year = extract_year_from_line(line) + " "
    school = line.split(year)[1]
    school = school.split(" ")[0]
    return school

def extract_times_from_line(line):
    time1 = re.compile(r'\d*\:\d\d\.\d\d')
    time2 = re.compile(r'\d\d\d\.\d\d')
    time3 = re.compile(r'\d\d\.\d\d')
    line_ix = [(m.start(0), m.end(0)) for m in re.finditer(time1, line)]
    if len(line_ix) == 0:
        line_ix = [(m.start(0), m.end(0)) for m in re.finditer(time2, line)]
        if len(line_ix) == 0:
            line_ix = [(m.start(0), m.end(0)) for m in re.finditer(time3, line)]        
    if len(line_ix) == 2:
        p_start = line_ix[0][0]
        p_end = line_ix[0][1]
        f_start = line_ix[1][0]
        f_end = line_ix[1][1]
        prelims = line[p_start:p_end]
        finals = line[f_start:f_end]
    elif len(line_ix) == 1:
        f_start = line_ix[0][0]
        f_end = line_ix[0][1]
        finals = line[f_start:f_end]
        prelims = "N/A"
    return [prelims, finals]

def extract_points_from_line(line):
    try: 
        return float(line[-5:])
    except ValueError:
        return 0

def extract_data_from_line(line):
    rank = extract_rank_from_line(line)
    if rank:
        name = extract_name_from_line(line)
        year = extract_year_from_line(line)
        school = extract_school_from_line(line)
        prelim = extract_times_from_line(line)[0]
        final = extract_times_from_line(line)[1]
        points = extract_points_from_line(line)
        return [rank, name, year, school, prelim, final, points]

def extract_all_data_from_event(event):
    list_of_lines = split_event_by_line(event)
    nlist = []
    for line in list_of_lines:
        if line:
            d = extract_data_from_line(line)
            if d:
                nlist.append(d)
    return nlist

extracted_event = extract_all_data_from_event(events[4])
extracted_event

<class 'str'>

[[1, 'Wollner, Samuel', 'JR', 'Harvard', 'N/A', '9:06.36', 32.0],
 [2, 'Griest, Robert', 'SO', 'Princeton', 'N/A', '9:06.64', 28.0],
 [3, 'Ashley, Dave', 'SR', 'Princeton', 'N/A', '9:08.61', 27.0],
 [4, 'Lynch, Eric', 'SO', 'Harvard', 'N/A', '9:10.18', 26.0],
 [5, 'Fog, Henning', 'JR', 'Columbia', 'N/A', '9:12.40', 25.0],
 [6, 'Volosin, Peter', 'JR', 'Brown', 'N/A', '9:15.52', 24.0],
 [7, 'Meyer, Alex', 'FR', 'Harvard', 'N/A', '9:17.08', 23.0],
 [8, 'Brunnick, Mason', 'FR', 'Harvard', 'N/A', '9:17.20', 22.0],
 [9, 'Buncher, Stan', 'JR', 'Princeton', 'N/A', '9:19.88', 20.0],
 [10, 'Ellis, Kevin', 'SO', 'Dartmouth', 'N/A', '9:21.07', 17.0],
 [11, 'Abbott, Jake', 'SR', 'Columbia', 'N/A', '9:21.48', 15.5],
 [11, 'Fee, James', 'FR', 'Pennsylvania', 'N/A', '9:21.48', 15.5],
 [13, 'Reeb, Cody', 'FR', 'Navy', 'N/A', '9:26.39', 14.0],
 [14, 'Gray, Thomas', 'FR', 'Harvard', 'N/A', '9:27.76', 13.0],
 [15, 'Cochran, Nick', 'SO', 'Cornell', 'N/A', '9:28.07', 12.0],
 [16, 'Garber, Kent', 'SR', 'Yale', 'N/A', '9:29.79', 11.0],
 [17, 'Hutchinson, Jack', 'SR', 'Yale', 'N/A', '9:31.13', 9.0],
 [18, 'McGrath, Jason', 'SR', 'Pennsylvania', 'N/A', '9:31.44', 7.0],
 [19, 'Cousins, Sebastian', 'SO', 'Yale', 'N/A', '9:33.27', 6.0],
 [20, 'Diehl, Porter', 'SO', 'Dartmouth', 'N/A', '9:37.65', 5.0],
 [21, 'Braunreuther, Joe', 'JR', 'Dartmouth', 'N/A', '9:38.12', 4.0],
 [22, 'Guthmann, David', 'SO', 'Navy', 'N/A', '9:38.21', 3.0],
 [23, 'Thompson, Brandon', 'SR', 'Pennsylvania', 'N/A', '9:45.52', 2.0],
 [24, 'Curran, Jack', 'FR', 'Navy', 'N/A', '9:48.58', 1.0],
 [25, 'Glenn, Rob', 'JR', 'Brown', 'N/A', '9:48.99', 0.99],
 [26, 'Andres, Josh', 'JR', 'Navy', 'N/A', '9:52.63', 0.63],
 [27, 'Stathopoulos, Cary', 'FR', 'Dartmouth', 'N/A', '9:55.40', 0.4]]

In [6]:
def get_event_name_num(event):
    if "Diving" not in event:
        try:
            event_num = int(event[:2])
        except ValueError:
            event_num = "NaN"
        dist = int(event.split(sex)[1].split(" ")[0])
        stroke = event.split(course)[1].split("<")[0]
        if (type(event_num) == int) and event_num < 25:
            return event_num, dist, stroke
    else:
        try:
            event_num = int(event[:2])
        except ValueError:
            event_num = "NaN"
        dist = int(event.split(sex)[1].split(" ")[0])
        stroke = "Diving"
        if (type(event_num) == int) and event_num < 25:
            return event_num, dist, stroke

        
for event in events:
    print(get_event_name_num(event))

(2, 500, 'Freestyle')
(3, 200, 'IM')
(4, 50, 'Freestyle')
(5, 1, 'Diving')
(8, 1000, 'Freestyle')
(9, 400, 'IM')
(10, 100, 'Butterfly')
(11, 200, 'Freestyle')
(12, 100, 'Breaststroke')
(13, 100, 'Backstroke')
(15, 1650, 'Freestyle')
(16, 200, 'Backstroke')
(17, 100, 'Freestyle')
(18, 200, 'Breaststroke')
(19, 200, 'Butterfly')
(20, 3, 'Diving')

In [7]:
def pandize_meet(year):
    meet_results = pd.DataFrame(columns = ["Ev#", "Distance", "Stroke", "Rank", "Name", "Yr", "School", "Prelim", "Final", "Points"])

    events_list = separate_events(year)    
    for event in events_list:
        event_name_num = get_event_name_num(event)
        print(event_name_num)
        event_data = extract_all_data_from_event(event)
        pandized_event = pd.DataFrame(event_data)
        pandized_event.columns = ["Rank", "Name", "Yr", "School", "Prelim", "Final", "Points"]
        pandized_event["Ev#"] = event_name_num[0]
        pandized_event["Distance"] = event_name_num[1]
        pandized_event["Stroke"] = event_name_num[2]
        meet_results = meet_results.append(pandized_event)
    return meet_results

pandize_meet(yr2007)

(2, 500, 'Freestyle')
(3, 200, 'IM')
(4, 50, 'Freestyle')
(5, 1, 'Diving')
(8, 1000, 'Freestyle')
(9, 400, 'IM')
(10, 100, 'Butterfly')
(11, 200, 'Freestyle')
(12, 100, 'Breaststroke')
(13, 100, 'Backstroke')
(15, 1650, 'Freestyle')
(16, 200, 'Backstroke')
(17, 100, 'Freestyle')
(18, 200, 'Breaststroke')
(19, 200, 'Butterfly')
(20, 3, 'Diving')

,Distance,Ev#,Final,Name,Points,Prelim,Rank,School,Stroke,Yr
0,500,2,4:24.07,"Smit, Mike",30.0,4:25.94,1,Cornell,Freestyle,SR
1,500,2,4:24.07,"Newman, Wes",30.0,4:26.28,1,Cornell,Freestyle,SO
2,500,2,4:24.19,"Wollner, Samuel",27.0,4:26.38,3,Harvard,Freestyle,JR
3,500,2,4:26.09,"Lynch, Eric",26.0,4:26.51,4,Harvard,Freestyle,SO
4,500,2,4:27.74,"Lee, Hyun",25.0,4:26.12,5,Columbia,Freestyle,SO
5,500,2,4:28.00,"Griest, Robert",24.0,4:28.10,6,Princeton,Freestyle,SO
6,500,2,4:28.74,"Foss, Andrew",23.0,4:27.78,7,Yale,Freestyle,SR
7,500,2,4:32.30,"Ashley, Dave",22.0,4:28.28,8,Princeton,Freestyle,SR
8,500,2,4:27.88,"Brunnick, Mason",20.0,4:29.86,9,Harvard,Freestyle,FR
9,500,2,4:29.19,"Ellis, Kevin",17.0,4:29.18,10,Dartmouth,Freestyle,SO
10,500,2,4:30.38,"Meyer, Alex",16.0,4:30.10,11,Harvard,Freestyle,FR
11,500,2,4:30.89,"Eckel, Dan",15.0,4:29.98,12,Princeton,Freestyle,SO
12,500,2,4:31.32,"Volosin, Peter",14.0,4:31.08,13,Brown,Freestyle,JR
13,500,2,4:32.42,"Buncher, Stan",13.0,4:30.64,14,Princeton,Freestyle,JR
14,500,2,4:32.84,"Flemming, Danny",12.0,4:31.59,15,Navy,Freestyle,SR
15,500,2,4:33.27,"Abbott, Jake",11.0,4:32.04,16,Columbia,Freestyle,SR
16,500,2,4:28.92,"Mukri, Kevin",9.0,4:32.17,17,Navy,Freestyle,SR
17,500,2,4:30.78,"McCloskey, Dennen",7.0,4:32.63,18,Yale,Freestyle,SO
18,500,2,4:31.94,"Wakefield, Kevin",6.0,4:32.28,19,Columbia,Freestyle,SO
19,500,2,4:32.44,"Gray, Thomas",5.0,4:32.12,20,Harvard,Freestyle,FR
20,500,2,4:32.45,"Cousins, Sebastian",4.0,4:33.32,21,Yale,Freestyle,SO
21,500,2,4:34.85,"McGrath, Jason",3.0,4:34.46,22,Pennsylvania,Freestyle,SR
22,500,2,4:36.95,"Fog, Henning",2.0,4:32.05,23,Columbia,Freestyle,JR
23,500,2,4:37.79,"Guthmann, David",1.0,4:34.53,24,Navy,Freestyle,SO
0,200,3,1:44.67,"Rathgeber, Geoff",32.0,1:48.88,1,Harvard,IM,JR
1,200,3,1:48.53,"Schaffer, Will",28.0,1:49.26,2,Princeton,IM,SO
2,200,3,1:50.01,"Hasbani, Meir",27.0,1:49.66,3,Princeton,IM,SR
3,200,3,1:50.90,"Ruse, Tim",26.0,1:51.25,4,Princeton,IM,SR
4,200,3,1:50.93,"Meyer, Adam",24.5,1:51.44,5,Navy,IM,FR
5,200,3,1:50.93,"Fitzpatrick, Luke",24.5,1:50.85,5,Columbia,IM,SR
...,...,...,...,...,...,...,...,...,...,...
10,200,19,1:49.72,"Alexander, Richard",16.0,1:50.73,11,Brown,Butterfly,SO
11,200,19,1:49.98,"Pool, Chris",15.0,1:49.20,12,Yale,Butterfly,SO
12,200,19,1:50.03,"Scheid, Tyler",14.0,1:49.43,13,Yale,Butterfly,SO
13,200,19,1:50.66,"Griffith, Joe",13.0,1:51.63,14,Pennsylvania,Butterfly,SR
14,200,19,1:51.55,"Goettke, Rich",12.0,1:51.18,15,Harvard,Butterfly,SR
15,200,19,1:51.64,"Carr, Devon",11.0,1:50.58,16,Pennsylvania,Butterfly,JR
16,200,19,1:51.73,"Wiese, Jack",9.0,1:51.86,17,Pennsylvania,Butterfly,FR
17,200,19,1:52.66,"Cochran, Nick",7.0,1:52.80,18,Cornell,Butterfly,SO
18,200,19,1:52.71,"Barron, Nick",6.0,1:54.07,19,Columbia,Butterfly,FR
19,200,19,1:52.72,"Gan, Ben",5.0,1:53.12,20,Pennsylvania,Butterfly,SO
20,200,19,1:53.05,"Lascara, James",4.0,1:54.64,21,Navy,Butterfly,FR
21,200,19,1:53.27,"Ramos, Mike",3.0,1:53.70,22,Cornell,Butterfly,SO
22,200,19,1:54.26,"Dierberg, Ryan",2.0,1:53.96,23,Pennsylvania,Butterfly,FR
23,200,19,1:56.54,"Collier, David",1.0,1:52.86,24,Columbia,Butterfly,SO
0,3,20,359.00,"Lichtenstein, Jeff",32.0,345.25,1,Yale,Diving,JR
1,3,20,347.45,"Papageorge, Mike",28.0,330.50,2,Princeton,Diving,FR
2,3,20,325.80,"Malcolm, Stuart",27.0,328.85,3,Princeton,Diving,JR
3,3,20,324.05,"Teague, Kevin",26.0,304.20,4,Navy,Diving,SR
4,3,20,321.75,"Reardon, Justin",25.0,298.50,5,Columbia,Diving,JR
5,3,20,310.00,"Sanders, Luke",24.0,317.30,6,Harvard,Diving,JR
6,3,20,297.90,"Scott, Doug",23.0,293.90,7,Yale,Diving,JR
7,3,20,280.95,"Berry, Andrew",22.0,341.00,8,Dartmouth,Diving,JR
8,3,20,338.15,"Baer, Luke",20.0,266.10,9,Cornell,Diving,SR
9,3,20,313.25,"Donohoe, Chris",17.0,291.25,10,Cornell,Diving,SO
10,3,20,308.40,"Razook, Charlie",16.0,276.00,11,Princeton,Diving,SO
11,3,20,306.50,"Dickerson, Dan",15.0,277.35,12,Princeton,Diving,FR
12,3,20,294.45,"Hayden, Pat",14.0,267.75,13,Yale,Diving,JR
13,3,20,286.60,"Robinson, Kai",13.0,263.30,14,Brown,Diving,SO
14,3,20,280.80,"Niekras, Adam",12.0,277.20,15,Navy,Diving,JR
15,3,20,266.75,"Kambe, CJ",11.0,262.00,16,Brown,Diving,FR

In [ ]:
pandize_meet(yr2008)

In [30]:
pandize_meet(yr2009)

(2, 500, 'Freestyle========================================================================= \nMeet Record: M 4:20.11 2003 John Cole (Harvard) \nEISL/Ivy Rec: E 4:16.91 2002 John Cole (Harvard) \nPOOL: P 4:20.93 2009 Travis McNamara (Princeton) \nNCAA A: A 4:15.68 \nNCAA B: B 4:24.62 \nName Year School Prelims Finals Points \n========================================================================= \n=== A - Final === \n1 McNamara, Travis FR Princeton 4:20.93 4:18.04M 32 \n23.41 48.94 (25.53) \n1:15.08 (26.14) 1:41.40 (26.32) \n2:07.96 (26.56) 2:34.66 (26.70) \n3:01.25 (26.59) 3:27.89 (26.64) \n3:53.65 (25.76) 4:18.04 (24.39) \n2 Newman, Wes SR Cornell 4:21.15 4:19.26M 28 \n23.70 49.31 (25.61) \n1:15.45 (26.14) 1:41.82 (26.37) \n2:08.06 (26.24) 2:34.65 (26.59) \n3:01.33 (26.68) 3:28.08 (26.75) \n3:54.24 (26.16) 4:19.26 (25.02) \n3 Lynch, Eric SR Harvard 4:21.27 4:19.91M 27 \n24.10 49.93 (25.83) \n1:16.14 (26.21) 1:42.63 (26.49) \n2:09.29 (26.66) 2:35.66 (26.37) \n3:01.94 (26.28) 3:28.13 (26.19) \n3:54.22 (26.09) 4:19.91 (25.69) \n4 Biggs, Patrick SO Princeton 4:22.33 4:20.19P 26 \n24.62 50.56 (25.94) \n1:16.84 (26.28) 1:43.34 (26.50) \n2:09.84 (26.50) 2:36.41 (26.57) \n3:02.77 (26.36) 3:29.03 (26.26) \n3:55.21 (26.18) 4:20.19 (24.98) \n5 Meyer, Alex JR Harvard 4:22.25 4:22.82B 25 \n23.94 50.22 (26.28) \n1:16.81 (26.59) 1:43.72 (26.91) \n2:10.38 (26.66) 2:36.96 (26.58) \n3:03.29 (26.33) 3:29.98 (26.69) \n3:56.53 (26.55) 4:22.82 (26.29) \n6 Lewkowitz, Blake SO Harvard 4:22.44 4:25.33 24 \n24.80 51.10 (26.30) \n1:17.67 (26.57) 1:44.55 (26.88) \n2:11.50 (26.95) 2:38.52 (27.02) \n3:05.21 (26.69) 3:32.36 (27.15) \n3:59.31 (26.95) 4:25.33 (26.02) \n7 Griest, Robert SR Princeton 4:24.06 4:25.68 23 \n24.53 50.87 (26.34) \n1:17.57 (26.70) 1:44.45 (26.88)\n\n3/5/09 6:38 PMMeet ResultsPage 2 of 4http://www.collegeswimming.us/results/princeton/ \n2:11.43 (26.98) 2:38.56 (27.13) \n3:05.72 (27.16) 3:32.84 (27.12) \n3:59.87 (27.03) 4:25.68 (25.81) \n8 Eckel, Dan SR Princeton 4:23.09 4:25.96 22 \n24.08 50.56 (26.48) \n1:17.36 (26.80) 1:44.40 (27.04) \n2:11.26 (26.86) 2:38.46 (27.20) \n3:05.64 (27.18) 3:32.67 (27.03) \n3:59.65 (26.98) 4:25.96 (26.31) \n=== B - Final === \n9 Fee, James JR Pennsylvania 4:25.48 4:22.69B 20 \n23.86 49.68 (25.82) \n1:15.88 (26.20) 1:42.32 (26.44) \n2:08.88 (26.56) 2:35.63 (26.75) \n3:02.77 (27.14) 3:29.47 (26.70) \n3:56.28 (26.81) 4:22.69 (26.41) \n10 Hanna, Colin SO Princeton 4:25.16 4:23.88B 17 \n23.12 48.50 (25.38) \n1:14.67 (26.17) 1:41.64 (26.97) \n2:08.59 (26.95) 2:35.84 (27.25) \n3:03.27 (27.43) 3:30.39 (27.12) \n3:57.34 (26.95) 4:23.88 (26.54) \n11 Brunnick, Mason JR Harvard 4:26.91 4:25.72 16 \n23.89 49.53 (25.64) \n1:15.98 (26.45) 1:42.72 (26.74) \n2:09.61 (26.89) 2:36.97 (27.36) \n3:04.17 (27.20) 3:31.67 (27.50) \n3:58.97 (27.30) 4:25.72 (26.75) \n12 Fog, Anker SO Cornell 4:28.08 4:26.52 15 \n24.68 51.57 (26.89) \n1:17.99 (26.42) 1:44.82 (26.83) \n2:11.87 (27.05) 2:38.84 (26.97) \n3:05.94 (27.10) 3:32.95 (27.01) \n4:00.03 (27.08) 4:26.52 (26.49) \n13 McCloskey, Dennen 09 Yale 4:27.99 4:26.93 14 \n24.65 51.44 (26.79) \n1:18.31 (26.87) 1:45.34 (27.03) \n2:12.41 (27.07) 2:39.47 (27.06) \n3:06.60 (27.13) 3:33.38 (26.78) \n4:00.05 (26.67) 4:26.93 (26.88) \n14 Cousins, Sebastian 09 Yale 4:26.99 4:27.80 13 \n24.88 52.16 (27.28) \n1:19.12 (26.96) 1:46.62 (27.50) \n2:13.19 (26.57) 2:40.11 (26.92) \n3:07.45 (27.34) 3:34.65 (27.20) \n4:01.78 (27.13) 4:27.80 (26.02) \n15 Wakefield, Kevin SR Columbia 4:26.56 4:27.81 12 \n24.49 50.80 (26.31) \n1:17.63 (26.83) 1:44.56 (26.93) \n2:12.04 (27.48) 2:39.64 (27.60) \n3:07.36 (27.72) 3:34.89 (27.53) \n4:02.31 (27.42) 4:27.81 (25.50) \n16 Gray, Thomas JR Harvard 4:27.14 4:30.60 11 \n24.32 50.88 (26.56) \n1:17.62 (26.74) 1:44.79 (27.17)\n\n3/5/09 6:38 PMMeet ResultsPage 3 of 4http://www.collegeswimming.us/results/princeton/ \n2:12.25 (27.46) 2:39.88 (27.63) \n3:07.66 (27.78) 3:35.48 (27.82) \n4:03.41 (27.93) 4:30.60 (27.19) \n=== C - Final === \n17 Hood, Cam FR Pennsylvania 4:29.30 4:26.97 9 \n24.59 51.60 (27.01) \n1:18.88 (27.28) 1:46.18 (27.30) \n2:13.40 (27.22) 2:40.45 (27.05) \n3:07.44 (26.99) 3:34.51 (27.07) \n4:01.60 (27.09) 4:26.97 (25.37) \n18 Smith, Alex FR Columbia 4:30.34 4:27.31 7 \n24.73 51.69 (26.96) \n1:19.12 (27.43) 1:46.62 (27.50) \n2:13.76 (27.14) 2:40.95 (27.19) \n3:07.93 (26.98) 3:34.77 (26.84) \n4:01.57 (26.80) 4:27.31 (25.74) \n19 Byzov, Ilya 09 Yale 4:30.29 4:30.00 6 \n24.78 51.77 (26.99) \n1:19.06 (27.29) 1:46.53 (27.47) \n2:14.06 (27.53) 2:41.58 (27.52) \n3:09.03 (27.45) 3:36.46 (27.43) \n4:03.84 (27.38) 4:30.00 (26.16) \n20 Cochran, Nick SR Cornell 4:30.17 4:30.10 5 \n24.51 51.64 (27.13) \n1:18.93 (27.29) 1:46.63 (27.70) \n2:14.18 (27.55) 2:41.90 (27.72) \n3:09.34 (27.44) 3:36.56 (27.22) \n4:03.87 (27.31) 4:30.10 (26.23) \n21 Lee, Matt 11 Yale 4:30.77 4:32.44 4 \n25.50 52.38 (26.88) \n1:19.55 (27.17) 1:46.94 (27.39) \n2:14.41 (27.47) 2:41.95 (27.54) \n3:09.62 (27.67) 3:37.31 (27.69) \n4:05.10 (27.79) 4:32.44 (27.34) \n22 Eyckmans, Robert FR Columbia 4:36.38 4:34.28 3 \n25.99 53.32 (27.33) \n1:20.75 (27.43) 1:48.30 (27.55) \n2:16.03 (27.73) 2:44.00 (27.97) \n3:11.63 (27.63) 3:39.29 (27.66) \n4:07.15 (27.86) 4:34.28 (27.13) \n23 Holcomb, Dean SO Cornell 4:35.11 4:34.29 2 \n24.62 51.67 (27.05) \n1:19.38 (27.71) 1:47.23 (27.85) \n2:15.24 (28.01) 2:42.75 (27.51) \n3:10.49 (27.74) 3:38.53 (28.04) \n4:06.15 (27.62) 4:34.29 (28.14) \n24 Hill, John 12 Dartmouth 4:38.27 4:36.80 1 \n25.15 52.41 (27.26) \n1:20.28 (27.87) 1:48.40 (28.12) \n2:16.65 (28.25) 2:44.77 (28.12) \n3:12.88 (28.11) 3:41.08 (28.20) \n4:09.39 (28.31) 4:36.80 (27.41) \n=== Preliminaries === \n\n3/5/09 6:38 PMMeet ResultsPage 4 of 4http://www.collegeswimming.us/results/princeton/ \n25 Stathopoulos, Cary 10 Dartmouth 4:41.29 \n25.94 53.43 (27.49) \n1:21.47 (28.04) 1:49.58 (28.11) \n2:17.90 (28.32) 2:46.56 (28.66) \n3:15.13 (28.57) 3:44.33 (29.20) \n4:13.54 (29.21) 4:41.29 (27.75) \n26 Haley, Billy 11 Dartmouth 4:41.30 \n25.32 52.75 (27.43) \n1:20.82 (28.07) 1:49.11 (28.29) \n2:17.82 (28.71) 2:46.64 (28.82) \n3:15.50 (28.86) 3:44.47 (28.97) \n4:13.43 (28.96) 4:41.30 (27.87) \n27 Windler, Andrew FR Pennsylvania 4:43.13 \n25.38 52.85 (27.47) \n1:20.96 (28.11) 1:49.58 (28.62) \n2:18.16 (28.58) 2:46.78 (28.62) \n3:15.87 (29.09) 3:45.13 (29.26) \n4:14.46 (29.33) 4:43.13 (28.67) \n28 Panzl, Jonathan 11 Dartmouth 4:44.72 \n25.99 53.91 (27.92) \n1:22.50 (28.59) 1:51.61 (29.11) \n2:20.68 (29.07) 2:49.95 (29.27) \n3:18.80 (28.85) 3:47.76 (28.96) \n4:16.51 (28.75) 4:44.72 (28.21) \n29 Randall, Michael 12 Dartmouth 4:45.70 \n25.47 52.45 (26.98) \n1:20.47 (28.02) 1:49.10 (28.63) \n2:18.22 (29.12) 2:47.63 (29.41) \n3:17.10 (29.47) 3:47.07 (29.97) \n4:16.89 (29.82) 4:45.70 (28.81) \nMen - Team Rankings - Through ')

ValueError: Length mismatch: Expected axis has 0 elements, new values have 7 elements

In [ ]:
pandize_meet(yr2011).to_csv("IvyData2011.csv")

In [ ]:
pandize_meet(yr2012).to_csv("IvyData2012.csv")

In [ ]:
pandize_meet(yr2013).to_csv("IvyData2013.csv")

In [ ]:
pandize_meet(yr2014).to_csv("IvyData2014.csv")

In [ ]:
pandize_meet(yr2015).to_csv("IvyData2015.csv")

In [12]:
with open('yr2009.rtf', 'r') as myfile:
    yr2009=myfile.read()

In [15]:
yr2009 = yr2009.split("Event ")

In [18]:
len(yr2009)

43

In [21]:
yr2009 = separate_events(yr2009)

In [22]:
extract_all_data_from_event(yr2009[2])

[]

In [25]:
yr2009[2]

'4 Men 50 Yard Freestyle========================================================================= \\\nMeet Record: M 19.49 2009 Doug Lennox (Princeton) \\\nEISL/Ivy Rec: E 19.49 2009 Doug Lennox (Princeton) \\\nPOOL: P 19.49 2009 Doug Lennox (Princeton) \\\nNCAA A: A 19.35 \\\nNCAA B: B 20.02 \\\nName Year School Prelims Finals Points \\\n========================================================================= \\\n=== A - Final === \\\n1 Righi, Alex 09 Yale 19.69 18.90A 32 \\\n2 Lennox, Douglas SR Princeton 19.49 19.36M 28 \\\n3 Ricketts, Dan SR Brown 19.93 19.77B 27 \\\n4 Carter, Michael SR Princeton 19.82 19.91B 26 \\\n5 Guernsey, David SR Harvard 20.11 20.04 25 \\\n6 Powell, Adam SO Columbia 19.84 20.08 24 \\\n7 Baity, Phil SR Cornell 20.17 20.47 23 \\\n8 Monovoukas, Michael FR Princeton 20.19 20.50 22 \\\n=== B - Final === \\\n9 Carey, Kevin SR Cornell 20.59 20.34 20 \\\n10 Pool, Chris 09 Yale 20.20 20.37 17 \\\n11 Wang, Jackson SR Cornell 20.24 20.40 16 \\\n12 Cordes, Colin FR Princeton 20.29 20.47 15 \\\n13 Jones, Bill SR Harvard 20.35 20.50 14 \\\n14 Dobrolioubov, Sasha JR Cornell 20.27 20.58 13 \\\n15 Bicer, Goksu 12 Yale 20.57 20.61 12 \\\n16 Ko, Steve SR Columbia 20.58 20.66 11 \\\n=== C - Final === \\\n17 Amos, Peter FR Pennsylvania 20.77 20.65 9 \\\n18 Heyburn, Will SO Harvard 20.80 20.66 7 \\\n19 Laren, Colin JR Cornell 20.76 20.69 6 \\\n20 Wetmore, Tucker JR Brown 20.80 20.70 4.5 \\\n20 Buck, Chris JR Pennsylvania 20.71 20.70 4.5 \\\n22 Gomes, Brett FR Pennsylvania 20.66 20.71 3 \\\n23 Dragelin, John SR Columbia 20.63 20.74 2 \\\n24 Veatch, Kyle 11 Yale 20.60 20.76 1 \\\n=== Preliminaries === \\\n25 Zlotoff, Ben SR Brown 20.85 \\\n26 Diekema, Jordan SO Harvard 20.88 \\\n26 Huxley, Trent JR Brown 20.88 \\\n28 Koweek, David SR Brown 20.90 \\\n29 Loughran, Kyle JR Pennsylvania 20.98 \\\n30 Scheid, Tyler 09 Yale 21.09 \\\n\\\n3/5/09 7:20 PMMeet ResultsPage 2 of 2http://www.collegeswimming.us/results/princeton/ \\\n31 Juhn, Timothy FR Brown 21.12 \\\n32 Brazitis, Kevin FR Cornell 21.16 \\\n33 Tan, Nicholas FR Harvard 21.30 \\\n34 Levko, Zachary JR Brown 21.35 \\\n35 Hunter, James FR Brown 21.37 \\\n36 Yang, Stephen SO Columbia 21.45 \\\n37 Goldsmith, Sam 11 Yale 21.46 \\\n38 Sorensen, Scott 10 Dartmouth 21.47 \\\n39 Maul, Chaz SR Pennsylvania 21.48 \\\n40 Ahern, Mickey 12 Dartmouth 21.55 \\\n41 Kaminski, Andrew FR Pennsylvania 22.17 \\\n42 Hochman, Dan 11 Dartmouth 22.41 \\\nMen - Team Rankings - Through '

In [26]:
split_event_by_line(yr2009[2])

[' \\',
 '========================================================================= \\',
 '=== A - Final === \\',
 '1 Righi, Alex 09 Yale 19.69 18.90A 32 \\',
 '2 Lennox, Douglas SR Princeton 19.49 19.36M 28 \\',
 '3 Ricketts, Dan SR Brown 19.93 19.77B 27 \\',
 '4 Carter, Michael SR Princeton 19.82 19.91B 26 \\',
 '5 Guernsey, David SR Harvard 20.11 20.04 25 \\',
 '6 Powell, Adam SO Columbia 19.84 20.08 24 \\',
 '7 Baity, Phil SR Cornell 20.17 20.47 23 \\',
 '8 Monovoukas, Michael FR Princeton 20.19 20.50 22 \\',
 '=== B - Final === \\',
 '9 Carey, Kevin SR Cornell 20.59 20.34 20 \\',
 '10 Pool, Chris 09 Yale 20.20 20.37 17 \\',
 '11 Wang, Jackson SR Cornell 20.24 20.40 16 \\',
 '12 Cordes, Colin FR Princeton 20.29 20.47 15 \\',
 '13 Jones, Bill SR Harvard 20.35 20.50 14 \\',
 '14 Dobrolioubov, Sasha JR Cornell 20.27 20.58 13 \\',
 '15 Bicer, Goksu 12 Yale 20.57 20.61 12 \\',
 '16 Ko, Steve SR Columbia 20.58 20.66 11 \\',
 '=== C - Final === \\',
 '17 Amos, Peter FR Pennsylvania 20.77 20.65 9 \\',
 '18 Heyburn, Will SO Harvard 20.80 20.66 7 \\',
 '19 Laren, Colin JR Cornell 20.76 20.69 6 \\',
 '20 Wetmore, Tucker JR Brown 20.80 20.70 4.5 \\',
 '20 Buck, Chris JR Pennsylvania 20.71 20.70 4.5 \\',
 '22 Gomes, Brett FR Pennsylvania 20.66 20.71 3 \\',
 '23 Dragelin, John SR Columbia 20.63 20.74 2 \\',
 '24 Veatch, Kyle 11 Yale 20.60 20.76 1 \\',
 '=== Preliminaries === \\',
 '25 Zlotoff, Ben SR Brown 20.85 \\',
 '26 Diekema, Jordan SO Harvard 20.88 \\',
 '26 Huxley, Trent JR Brown 20.88 \\',
 '28 Koweek, David SR Brown 20.90 \\',
 '29 Loughran, Kyle JR Pennsylvania 20.98 \\',
 '30 Scheid, Tyler 09 Yale 21.09 \\',
 '\\',
 '3/5/09 7:20 PMMeet ResultsPage 2 of 2http://www.collegeswimming.us/results/princeton/ \\',
 '31 Juhn, Timothy FR Brown 21.12 \\',
 '32 Brazitis, Kevin FR Cornell 21.16 \\',
 '33 Tan, Nicholas FR Harvard 21.30 \\',
 '34 Levko, Zachary JR Brown 21.35 \\',
 '35 Hunter, James FR Brown 21.37 \\',
 '36 Yang, Stephen SO Columbia 21.45 \\',
 '37 Goldsmith, Sam 11 Yale 21.46 \\',
 '38 Sorensen, Scott 10 Dartmouth 21.47 \\',
 '39 Maul, Chaz SR Pennsylvania 21.48 \\',
 '40 Ahern, Mickey 12 Dartmouth 21.55 \\',
 '41 Kaminski, Andrew FR Pennsylvania 22.17 \\',
 '42 Hochman, Dan 11 Dartmouth 22.41 \\',
 'Men - Team Rankings - Through ']