In [1]:
import requests
import json
import re
import numpy as np
import pandas as pd

sex = "Men "
course = "Yard "

In [2]:
def separate_events(year):
    new_list = []
    for event in year:
        if "Time Trial" not in event:
            if "Relay" not in event:
                if "Swim-off" not in event:
                    if "Points" in event:
                        event = event.replace("\\\n", "\n ")
                        new_list.append(event)
    return new_list

In [3]:
with open('yr2009.rtf', 'r') as myfile:
    yr2009 = myfile.read()
    yr2009 = yr2009.split("Event ")
    
yr = separate_events(yr2009)
yr[1]

'3 Men 200 Yard IM========================================================================= \n Meet Record: M 1:44.67 2007 Geoff Rathgeber (Harvard) \n EISL/Ivy Rec: E 1:44.67 2007 Geoff Rathgeber (Harvard) \n POOL: P 1:44.67 2007 Geoff Rathgeber (Harvard) \n NCAA A: A 1:44.13 \n NCAA B: B 1:47.77 \n Name Year School Prelims Finals Points \n ========================================================================= \n === A - Final === \n 1 Schaffer, Will SR Princeton 1:47.77 1:46.44B 32 \n 22.71 49.55 (26.84) \n 1:20.35 (30.80) 1:46.44 (26.09) \n 2 Hartmann, Jonathan JR Princeton 1:47.57 1:46.93B 28 \n 23.15 50.49 (27.34) \n 1:22.76 (32.27) 1:46.93 (24.17) \n 3 McHugh, Brendan FR Pennsylvania 1:47.61 1:47.64B 27 \n 23.79 50.56 (26.77) \n 1:21.76 (31.20) 1:47.64 (25.88) \n 4 Pagan, Darren JR Columbia 1:48.24 1:47.71B 26 \n 23.92 51.64 (27.72) \n 1:22.43 (30.79) 1:47.71 (25.28) \n 5 Quemena, Christopher JR Princeton 1:48.34 1:47.79 25 \n 23.29 50.69 (27.40) \n 1:21.93 (31.24) 1:47.79 (25.86) \n 6 Christensen, Jonathan FR Princeton 1:48.94 1:48.23 24 \n 23.89 51.46 (27.57) \n 1:22.10 (30.64) 1:48.23 (26.13) \n 7 Campbell, Nick JR Cornell 1:48.96 1:48.39 23 \n 23.01 50.92 (27.91) \n 1:22.52 (31.60) 1:48.39 (25.87) \n 8 Yntema, Douwe SO Harvard 1:48.27 1:50.07 22 \n 23.45 51.20 (27.75) \n 1:23.38 (32.18) 1:50.07 (26.69) \n === B - Final === \n 9 Newell, Rob FR Harvard 1:48.97 1:49.04 20 \n 23.90 50.90 (27.00) \n 1:22.18 (31.28) 1:49.04 (26.86) \n 10 Ebersole, Bern SR Princeton 1:49.57 1:49.11 17 \n 23.79 52.06 (28.27) \n 1:23.23 (31.17) 1:49.11 (25.88) \n 11 Keady, Christopher SO Cornell 1:50.05 1:49.68 16 \n 23.59 51.32 (27.73) \n 1:23.69 (32.37) 1:49.68 (25.99) \n 12 Alexander, Rich SR Brown 1:50.02 1:50.43 15 \n 23.51 50.66 (27.15) \n 1:23.85 (33.19) 1:50.43 (26.58)\n \n 3/5/09 7:19 PMMeet ResultsPage 2 of 3http://www.collegeswimming.us/results/princeton/ \n 13 Parent, Tim SR Harvard 1:50.67 1:50.70 14 \n 24.91 53.15 (28.24) \n 1:25.12 (31.97) 1:50.70 (25.58) \n 14 Shilton, Robbie FR Pennsylvania 1:50.80 1:50.80 13 \n 24.61 53.31 (28.70) \n 1:24.82 (31.51) 1:50.80 (25.98) \n 15 Kikuchi, Ryan SO Brown 1:50.74 1:51.01 12 \n 24.24 52.01 (27.77) \n 1:24.95 (32.94) 1:51.01 (26.06) \n 16 Davidson, Justin SO Harvard 1:50.91 1:52.28 11 \n 23.66 52.26 (28.60) \n 1:24.02 (31.76) 1:52.28 (28.26) \n === C - Final === \n 17 Cai, Michael FR Cornell 1:51.71 1:49.79 9 \n 23.99 52.56 (28.57) \n 1:23.70 (31.14) 1:49.79 (26.09) \n 18 Chen, Easton SR Princeton 1:51.02 1:50.90 7 \n 24.41 53.82 (29.41) \n 1:24.48 (30.66) 1:50.90 (26.42) \n 19 Mironov, Anthony JR Cornell 1:51.11 1:51.18 6 \n 24.46 53.02 (28.56) \n 1:24.88 (31.86) 1:51.18 (26.30) \n 20 Jones, Dan SR Harvard 1:51.01 1:51.21 5 \n 24.21 52.55 (28.34) \n 1:24.67 (32.12) 1:51.21 (26.54) \n 21 Carlucci, Conor SO Brown 1:51.55 1:51.58 4 \n 23.29 52.46 (29.17) \n 1:24.32 (31.86) 1:51.58 (27.26) \n 22 Chui, Derick SO Harvard 1:52.07 1:51.69 3 \n 24.33 52.28 (27.95) \n 1:25.54 (33.26) 1:51.69 (26.15) \n 23 McCarthy, Colin JR Yale 1:52.32 1:52.05 2 \n 23.55 50.99 (27.44) \n 1:24.67 (33.68) 1:52.05 (27.38) \n 24 Ballentine, Andrew SR Dartmouth 1:52.37 1:52.86 1 \n 25.08 54.49 (29.41) \n 1:26.53 (32.04) 1:52.86 (26.33) \n === Preliminaries === \n 25 Choi, Lugar SO Yale 1:52.37 J \n 24.34 53.90 (29.56) \n 1:26.18 (32.28) 1:52.37 (26.19) \n 26 Glassman, Zach SR Columbia 1:52.51 \n 25.02 53.98 (28.96) \n 1:25.53 (31.55) 1:52.51 (26.98) \n 27 Steen, Craig JR Yale 1:52.64 \n 24.26 52.92 (28.66) \n 1:25.21 (32.29) 1:52.64 (27.43) \n 28 Tang, Eric JR Columbia 1:53.15 \n 24.86 54.28 (29.42) \n 1:26.13 (31.85) 1:53.15 (27.02) \n 29 Stumpf, Matt FR Dartmouth 1:53.30 \n 24.04 53.19 (29.15) \n 1:25.66 (32.47) 1:53.30 (27.64)\n \n 3/5/09 7:19 PMMeet ResultsPage 3 of 3http://www.collegeswimming.us/results/princeton/ \n 30 Melillo, Simone JR Harvard 1:53.69 \n 24.24 54.48 (30.24) \n 1:26.06 (31.58) 1:53.69 (27.63) \n 31 Grant, Ray JR Brown 1:53.82 \n 24.29 54.61 (30.32) \n 1:26.33 (31.72) 1:53.82 (27.49) \n 32 Chu, Marco SO Dartmouth 1:53.86 \n 23.76 53.39 (29.63) \n 1:27.04 (33.65) 1:53.86 (26.82) \n 33 Sidman, John-Howard FR Columbia 1:54.10 \n 24.55 55.07 (30.52) \n 1:26.98 (31.91) 1:54.10 (27.12) \n 34 Gayton, John FR Brown 1:54.51 \n 24.30 52.73 (28.43) \n 1:27.21 (34.48) 1:54.51 (27.30) \n 35 Shinton, Scott FR Yale 1:54.54 \n 23.78 53.00 (29.22) \n 1:27.18 (34.18) 1:54.54 (27.36) \n 36 Tiano, Chris JR Columbia 1:55.02 \n 24.79 54.17 (29.38) \n 1:27.12 (32.95) 1:55.02 (27.90) \n 37 Buck, Patrick SO Pennsylvania 1:55.14 \n 24.44 53.18 (28.74) \n 1:27.71 (34.53) 1:55.14 (27.43) \n 38 Krey, Matt FR Pennsylvania 1:55.60 \n 24.15 51.75 (27.60) \n 1:27.42 (35.67) 1:55.60 (28.18) \n 39 Koppel, Chris SR Dartmouth 1:56.08 \n 24.67 54.72 (30.05) \n 1:28.90 (34.18) 1:56.08 (27.18) \n 40 Sweitzer, Matt SR Yale 1:56.77 \n 24.68 55.89 (31.21) \n 1:28.06 (32.17) 1:56.77 (28.71) \n 41 McCrae, Brett SR Brown 1:58.61 \n 25.96 56.95 (30.99) \n 1:29.58 (32.63) 1:58.61 (29.03) \n 42 Ritter, Jacob FR Dartmouth 2:04.95 \n 26.81 59.12 (32.31) \n 1:35.06 (35.94) 2:04.95 (29.89) \n Men - Team Rankings - Through '

In [4]:
def split_event_by_line(string):
    if "Points" in string:
        string = string.split("Points")[1]
        string = string.replace("\r","")
        if "Bradley\n" in string:
            string = string.replace("Bradley\n", "Bradley")
        list_of_strings = string.split("\n")
        return list_of_strings

fr50 = split_event_by_line(yr[3])
fr50

[' ',
 ' ========================================================================= ',
 ' === A - Final === ',
 ' 1 Dickerson, Daniel JR Princeton 295.70 317.85A 32 ',
 ' 2 Kambe, C.J. JR Brown 284.50 290.95 28 ',
 ' 3 Cragg, Jeff FR Pennsylvania 276.80 286.60 27 ',
 ' 4 Sheppard, Michael SO Cornell 252.85 276.50 26 ',
 ' 5 Donohoe, Chris SR Cornell 269.90 262.00 25 ',
 ' 6 Fraiman, Yarden SR Princeton 257.00 259.90 24 ',
 ' 7 Staab, Colton FR Yale 268.65 257.60 23 ',
 ' 8 Teer, Drew JR Yale 259.25 248.70 22 ',
 ' === B - Final === ',
 ' 9 Ranta, Zac SO Harvard 242.15 283.15 20 ',
 ' 10 Plante, Chris FR Dartmouth 238.55 260.55 17 ',
 ' 11 Levkoff, David SO Columbia 229.85 255.05 16 ',
 ' 12 Olson, Eric SO Yale 239.75 249.95 15 ',
 ' 13 DeMarle, Pat SO Cornell 228.70 244.10 14 ',
 ' 14 Feldman, Jonathan FR Brown 228.50 243.25 13 ',
 ' 15 Brown, Mikey SO Dartmouth 230.80 235.80 12 ',
 ' 16 Wells, Tom FR Princeton 239.60 219.90 11 ',
 ' === Preliminaries === ',
 ' 17 Winslow, Henry SO Harvard 219.70 9 ',
 ' 18 Hull, Jeff SR Columbia 204.25 7 ',
 ' 19 Marple, Alex FR Pennsylvania 188.10 6 ',
 ' 20 Davis, Drew SR Harvard 187.40 5 ',
 ' 21 Mestel, Spenser SO Dartmouth 175.85 4 ',
 ' Men - Team Rankings - Through ']

In [8]:
def extract_rank_from_line(line):
    rank1 = re.compile(r'\ \d \ ')
    rank2 = re.compile(r'\ \d\d \ ')
    if line[:3]:
        try:
            return int(line[:3])
        except ValueError:
            return 0
    else:
        return 0

def extract_name_from_line(line):
    comma = re.search(r'\,', line).start()
    last_name = line[comma::-1].split(" ")[0][::-1]
    first_name = line[comma+2:].split(" ")[0]
    name = last_name + " " + first_name
    return name

def extract_year_from_line(line):
    years = [" FR ", " SO ", " JR ", " SR "]
    for year in years:
        if year in line:
            return year.replace(" ", "")
        if not any(yr in line for yr in years):
            ix = re.search(r'\d', line[6:]).start()
            return line[ix+6:ix+8]

def extract_school_from_line(line):
    year = extract_year_from_line(line) + " "
    school = line.split(year)[1]
    school = school.split(" ")[0]
    return school

def extract_times_from_line(line):
    time1 = re.compile(r'\d*\:\d\d\.\d\d')
    time2 = re.compile(r'\d\d\d\.\d\d')
    time3 = re.compile(r'\d\d\.\d\d')
    line_ix = [(m.start(0), m.end(0)) for m in re.finditer(time1, line)]
    if len(line_ix) == 0:
        line_ix = [(m.start(0), m.end(0)) for m in re.finditer(time2, line)]
        if len(line_ix) == 0:
            line_ix = [(m.start(0), m.end(0)) for m in re.finditer(time3, line)]        
    if len(line_ix) == 2:
        p_start = line_ix[0][0]
        p_end = line_ix[0][1]
        f_start = line_ix[1][0]
        f_end = line_ix[1][1]
        prelims = line[p_start:p_end]
        finals = line[f_start:f_end]
    elif len(line_ix) == 1:
        f_start = line_ix[0][0]
        f_end = line_ix[0][1]
        finals = line[f_start:f_end]
        prelims = "N/A"
    return [prelims, finals]

def extract_points_from_line(line):
    try: 
        return float(line[-3:])
    except ValueError:
        return 0

def extract_data_from_line(line):
    rank = extract_rank_from_line(line)
    if rank:
        name = extract_name_from_line(line)
        year = extract_year_from_line(line)
        school = extract_school_from_line(line)
        prelim = extract_times_from_line(line)[0]
        final = extract_times_from_line(line)[1]
        points = extract_points_from_line(line)
        return [rank, name, year, school, prelim, final, points]

def extract_all_data_from_event(event):
    list_of_lines = split_event_by_line(event)
    nlist = []
    for line in list_of_lines:
        if line:
            d = extract_data_from_line(line)
            if d:
                nlist.append(d)
    return nlist

extracted_event = extract_all_data_from_event(yr[3])
extracted_event

[[1, 'Dickerson, Daniel', 'JR', 'Princeton', '295.70', '317.85', 32.0],
 [2, 'Kambe, C.J.', 'JR', 'Brown', '284.50', '290.95', 28.0],
 [3, 'Cragg, Jeff', 'FR', 'Pennsylvania', '276.80', '286.60', 27.0],
 [4, 'Sheppard, Michael', 'SO', 'Cornell', '252.85', '276.50', 26.0],
 [5, 'Donohoe, Chris', 'SR', 'Cornell', '269.90', '262.00', 25.0],
 [6, 'Fraiman, Yarden', 'SR', 'Princeton', '257.00', '259.90', 24.0],
 [7, 'Staab, Colton', 'FR', 'Yale', '268.65', '257.60', 23.0],
 [8, 'Teer, Drew', 'JR', 'Yale', '259.25', '248.70', 22.0],
 [9, 'Ranta, Zac', 'SO', 'Harvard', '242.15', '283.15', 20.0],
 [10, 'Plante, Chris', 'FR', 'Dartmouth', '238.55', '260.55', 17.0],
 [11, 'Levkoff, David', 'SO', 'Columbia', '229.85', '255.05', 16.0],
 [12, 'Olson, Eric', 'SO', 'Yale', '239.75', '249.95', 15.0],
 [13, 'DeMarle, Pat', 'SO', 'Cornell', '228.70', '244.10', 14.0],
 [14, 'Feldman, Jonathan', 'FR', 'Brown', '228.50', '243.25', 13.0],
 [15, 'Brown, Mikey', 'SO', 'Dartmouth', '230.80', '235.80', 12.0],
 [16, 'Wells, Tom', 'FR', 'Princeton', '239.60', '219.90', 11.0],
 [17, 'Winslow, Henry', 'SO', 'Harvard', 'N/A', '219.70', 9.0],
 [18, 'Hull, Jeff', 'SR', 'Columbia', 'N/A', '204.25', 7.0],
 [19, 'Marple, Alex', 'FR', 'Pennsylvania', 'N/A', '188.10', 6.0],
 [20, 'Davis, Drew', 'SR', 'Harvard', 'N/A', '187.40', 5.0],
 [21, 'Mestel, Spenser', 'SO', 'Dartmouth', 'N/A', '175.85', 4.0]]

In [9]:
def get_event_name_num(event):
    if "Diving" not in event:
        try:
            event_num = int(event[:2])
        except ValueError:
            event_num = "NaN"
        dist = int(event.split(sex)[1].split(" ")[0])
        stroke = event.split(course)[1].split("=")[0]
        if (type(event_num) == int) and event_num < 25:
            return event_num, dist, stroke
    else:
        try:
            event_num = int(event[:2])
        except ValueError:
            event_num = "NaN"
        dist = int(event.split(sex)[1].split(" ")[0])
        stroke = "Diving"
        if (type(event_num) == int) and event_num < 25:
            return event_num, dist, stroke

get_event_name_num(yr[2])

(4, 50, 'Freestyle')

In [10]:
def pandize_meet(year):
    meet_results = pd.DataFrame(columns = ["Ev#", "Distance", "Stroke", "Rank", "Name", "Yr", "School", "Prelim", "Final", "Points"])

    events_list = separate_events(year)    
    for event in events_list:
        event_name_num = get_event_name_num(event)
        print(event_name_num)
        event_data = extract_all_data_from_event(event)
        pandized_event = pd.DataFrame(event_data)
        pandized_event.columns = ["Rank", "Name", "Yr", "School", "Prelim", "Final", "Points"]
        pandized_event["Ev#"] = event_name_num[0]
        pandized_event["Distance"] = event_name_num[1]
        pandized_event["Stroke"] = event_name_num[2]
        meet_results = meet_results.append(pandized_event)
    return meet_results

pandize_meet(yr2009)

(2, 500, 'Freestyle')
(3, 200, 'IM')
(4, 50, 'Freestyle')
(5, 1, 'Diving')
(8, 1000, 'Freestyle\n ')
(9, 400, 'IM\n ')
(10, 100, 'Butterfly\n ')
(11, 200, 'Freestyle\n ')
(12, 100, 'Breaststroke\n ')
(13, 100, 'Backstroke\n ')
(15, 1650, 'Freestyle\n ')
(16, 200, 'Backstroke\n ')
(17, 100, 'Freestyle\n ')
(18, 200, 'Breaststroke\n ')
(19, 200, 'Butterfly\n ')
(20, 3, 'Diving')

,Distance,Ev#,Final,Name,Points,Prelim,Rank,School,Stroke,Yr
0,500,2,4:18.04,"McNamara, Travis",32,4:20.93,1,Princeton,Freestyle,FR
1,500,2,4:19.26,"Newman, Wes",28,4:21.15,2,Cornell,Freestyle,SR
2,500,2,4:19.91,"Lynch, Eric",27,4:21.27,3,Harvard,Freestyle,SR
3,500,2,4:20.19,"Biggs, Patrick",26,4:22.33,4,Princeton,Freestyle,SO
4,500,2,4:22.82,"Meyer, Alex",25,4:22.25,5,Harvard,Freestyle,JR
5,500,2,4:25.33,"Lewkowitz, Blake",24,4:22.44,6,Harvard,Freestyle,SO
6,500,2,4:25.68,"Griest, Robert",23,4:24.06,7,Princeton,Freestyle,SR
7,500,2,4:25.96,"Eckel, Dan",22,4:23.09,8,Princeton,Freestyle,SR
8,500,2,4:22.69,"Fee, James",20,4:25.48,9,Pennsylvania,Freestyle,JR
9,500,2,4:23.88,"Hanna, Colin",17,4:25.16,10,Princeton,Freestyle,SO
10,500,2,4:25.72,"Brunnick, Mason",16,4:26.91,11,Harvard,Freestyle,JR
11,500,2,4:26.52,"Fog, Anker",15,4:28.08,12,Cornell,Freestyle,SO
12,500,2,4:26.93,"McCloskey, Dennen",14,4:27.99,13,Yale,Freestyle,SR
13,500,2,4:27.80,"Cousins, Sebastian",13,4:26.99,14,Yale,Freestyle,SR
14,500,2,4:27.81,"Wakefield, Kevin",12,4:26.56,15,Columbia,Freestyle,SR
15,500,2,4:30.60,"Gray, Thomas",11,4:27.14,16,Harvard,Freestyle,JR
16,500,2,4:26.97,"Hood, Cam",9,4:29.30,17,Pennsylvania,Freestyle,FR
17,500,2,4:27.31,"Smith, Alex",7,4:30.34,18,Columbia,Freestyle,FR
18,500,2,4:30.00,"Byzov, Ilya",6,4:30.29,19,Yale,Freestyle,SR
19,500,2,4:30.10,"Cochran, Nick",5,4:30.17,20,Cornell,Freestyle,SR
20,500,2,4:32.44,"Lee, Matt",4,4:30.77,21,Yale,Freestyle,SO
21,500,2,4:34.28,"Eyckmans, Robert",3,4:36.38,22,Columbia,Freestyle,FR
22,500,2,4:34.29,"Holcomb, Dean",2,4:35.11,23,Cornell,Freestyle,SO
23,500,2,4:36.80,"Hill, John",1,4:38.27,24,Dartmouth,Freestyle,FR
24,500,2,4:41.29,"Stathopoulos, Cary",29,N/A,25,Dartmouth,Freestyle,JR
25,500,2,4:41.30,"Haley, Billy",30,N/A,26,Dartmouth,Freestyle,SO
26,500,2,4:43.13,"Windler, Andrew",13,N/A,27,Pennsylvania,Freestyle,FR
27,500,2,4:44.72,"Panzl, Jonathan",72,N/A,28,Dartmouth,Freestyle,SO
28,500,2,4:45.70,"Randall, Michael",70,N/A,29,Dartmouth,Freestyle,FR
0,200,3,1:46.44,"Schaffer, Will",32,1:47.77,1,Princeton,IM,SR
...,...,...,...,...,...,...,...,...,...,...
19,200,18,2:08.36,"Chan, Julian",0,N/A,2,Cornell,Breaststroke\n,FR
20,200,18,2:09.47,"Clare-Salzler, Zak",0,N/A,3,Dartmouth,Breaststroke\n,FR
21,200,18,2:09.71,"Kaminski, Andrew",0,N/A,3,Pennsylvania,Breaststroke\n,FR
22,200,18,2:10.76,"Ballentine, Andrew",0,N/A,3,Dartmouth,Breaststroke\n,SR
23,200,18,2:15.92,"Maul, Chaz",0,N/A,3,Pennsylvania,Breaststroke\n,SR
24,200,18,2:16.40,"Ritter, Jacob",0,N/A,3,Dartmouth,Breaststroke\n,FR
0,200,19,1:48.50,"Holcomb, Dean",7,1:49.83,1,Cornell,Butterfly\n,SO
1,200,19,1:48.82,"Yntema, Douwe",6,1:49.16,1,Harvard,Butterfly\n,SO
2,200,19,1:49.33,"Wang, Charlie",5,1:49.58,1,Princeton,Butterfly\n,FR
3,200,19,1:49.51,"Brotzky, IIya",4,1:49.41,1,Cornell,Butterfly\n,JR
4,200,19,1:50.38,"Shinton, Scott",3,1:50.20,1,Yale,Butterfly\n,FR
5,200,19,1:50.54,"Wiese, Jack",2,1:49.20,1,Pennsylvania,Butterfly\n,JR
6,200,19,1:50.62,"Eyckmans, Robert",1,1:49.89,1,Columbia,Butterfly\n,FR
7,200,19,1:49.11,"Brown, Josh",9,1:51.31,1,Columbia,Butterfly\n,SO
8,200,19,1:52.52,"Tompkins, Mike",7,1:51.77,1,Pennsylvania,Butterfly\n,SO
9,200,19,1:52.62,"Panzl, Jonathan",6,1:51.14,1,Dartmouth,Butterfly\n,SO
10,200,19,1:53.10,"Chu, Marco",5,1:54.30,2,Dartmouth,Butterfly\n,SO
11,200,19,1:54.43,"Koppel, Chris",4,1:54.12,2,Dartmouth,Butterfly\n,SR
0,3,20,284.45,"Staab, Colton",7,246.50,1,Yale,Diving,FR
1,3,20,271.05,"Teer, Drew",6,242.10,1,Yale,Diving,JR
2,3,20,259.40,"Brown, Mikey",5,249.05,1,Dartmouth,Diving,SO
3,3,20,256.05,"Kambe, C.J.",4,233.15,1,Brown,Diving,JR
4,3,20,248.75,"DeMarle, Pat",3,246.90,1,Cornell,Diving,SO
5,3,20,238.60,"Plante, Chris",2,246.65,1,Dartmouth,Diving,FR
6,3,20,174.45,"Davis, Drew",1,222.15,1,Harvard,Diving,SR
7,3,20,213.05,"Levkoff, David",9,N/A,1,Columbia,Diving,SO
8,3,20,209.30,"Hull, Jeff",7,N/A,1,Columbia,Diving,SR
9,3,20,207.20,"Winslow, Henry",6,N/A,1,Harvard,Diving,SO
10,3,20,202.60,"Feldman, Jonathan",5,N/A,2,Brown,Diving,FR
11,3,20,157.60,"Mestel, Spenser",4,N/A,2,Dartmouth,Diving,SO

In [ ]:
get_event_name_num(yr[3])

In [13]:
rank1 = re.compile(r'\d')
rank1 = " " + rank1 + " "
rank1

TypeError: Can't convert '_sre.SRE_Pattern' object to str implicitly